<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>CRUD de Compromissos</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <script src="script.js"></script> -->
</head>

<body>
  <div class="container">
    <h1><%= lbl %> Compromisso</h1>
    <form action="/compromissos" method="post">
      <div class="container-row">
        <label for="descricao">Descricao:</label>
        <input type="text" id="descricao" name="descricao" value="<% if (obj){ %> <%= obj.descricao %> <% } %>">
      </div>
      <div class="container-row">
        <label for="data">Data:</label>
        <% if (obj) { %>
          <input type="text" id="data" name="data" value="<%= obj.data %>">
          <% } else { %>
            <input type="date" id="data" name="data" value="">
            <% } %>
      </div>
      <div class="container-row">
        <button type="submit"><%= lbl %></button>
      </div>
      <% if(obj) { %>
        <input type="hidden" id="hiddenid" name="hiddenid" value="<%= obj._id %>">
      <% } %>
    </form>
  </div>
</body>

</html>